
th {
	width: 5rem;
}

.tbl th, .tbl td {
	border-top: none !important;
	border-bottom: none !important;
}

.tbl th {
	border-top: 1px solid black !important;
	border-bottom: 1px solid black !important;
}

.tbl th, .tbl td {
	border-right: 1px solid black !important; /* Add vertical lines */
	border-left: 1px solid black !important; /* Add vertical lines */
}

.tbl1 {
	border: 2px solid black !important; /* Keep vertical lines */
}

.tbl {
	border: 2px solid black !important;
}
.tbody1{
border-bottom:2px solid black !important;
}
.quantity-gap {
    margin-right: 10px;  /* Adjust the value as needed */
    display: inline-block; /* Ensures the spacing is applied horizontally */
  }



  @media print {
	tr {
		page-break-inside: avoid;
	}
	#printButton {
		display: none !important;
	}
	.print-hr {
		border: 1px solid black !important;
	}
	
}

@page {
	margin-top: 2rem !important;
	margin-bottom: 0px !important;
		 margin-left: 3rem !important; 
}


 @media print {
            .col-md-5 {
                display: inline-block;
                width: 30%; /* Adjust the width as needed */
                
                vertical-align: top; /* Align elements to the top */
            }
          
             .col-md-7 {
                display: inline-block;
                width: 50%; 
              
            }
            
            .col-md-4 {
                display: inline-block;
                width: 30%; /* Adjust the width as needed */
                
                vertical-align: top; /* Align elements to the top */
            }
          
             .col-md-8 {
                display: inline-block;
                width: 50%; 
              
            }
            .col-md-3 {
                display: inline-block;
                width: 20%; /* Adjust the width as needed */
                
                vertical-align: top; /* Align elements to the top */
            }
          
             .col-md-9 {
                display: inline-block;
                width: 50%; 
              
            }
			body {
			  margin: 3px !important;
			  }
            
        }